<h1>SARAPP sa UP</h1>

<p>
SARAPP sa UP is a web application that allows UP students to rate and search for
food places around UP Diliman. This application helps students look for food places
that match their needs according to budget, location, ambiance, and food quality. This
also helps store owners improve their service and get better publicity.
</p>